assets/distcc-cross-compiler-host-archlinux/x-tools
assets/distcc-cross-compiler-host-archlinux/x-tools6h
assets/distcc-cross-compiler-host-archlinux/x-tools7h
assets/distcc-cross-compiler-host-archlinux/x-tools8
