version: '3'
services:{% for host_arch in distro.host_archs %}
  host-{{ host_arch|arch_slug }}:
    image: {{ distro.host_image_tag(version, host_arch) }}
    ports:
      {% for compiler_arch in host_arch|compiler_archs %}
      # {{ compiler_arch }}
      - {{ compiler_arch|compiler_port }}:{{ compiler_arch|compiler_port }}{% endfor %}
  {% endfor %}

  {% for compiler_arch in distro.compiler_archs %}
  client-{{ compiler_arch|arch_slug }}:
    image: {{ distro.client_image_tag(version, compiler_arch) }}
    command: /bin/sh
  {% endfor %}
