# Defaults for distcc initscript
# sourced by /etc/init.d/distccd.host-{{ host_arch }}.compiler-{{ compiler_arch }}

#
# should distcc be started on boot?
#
# {{ compiler_arch|flag }}="false"

{{ compiler_arch|flag }}="true"

#
# Which networks/hosts should be allowed to connect to the daemon?
# You can list multiple hosts/networks separated by spaces.
# Networks have to be in CIDR notation, f.e. 192.168.1.0/24
# Hosts are represented by a single IP Adress
#
# ALLOWEDNETS="127.0.0.1"

ALLOWEDNETS="0.0.0.0/0"

#
# Which interface should distccd listen on?
# You can specify a single interface, identified by it's IP address, here.
#
# LISTENER="127.0.0.1"

LISTENER="0.0.0.0"

#
# Which port should distccd listen on?
#
# PORT="{{ compiler_arch|compiler_port }}"

PORT="{{ compiler_arch|compiler_port }}"

#
# You can specify a (positive) nice level for the distcc process here
#
# NICE="10"

NICE="10"

#
# You can specify a maximum number of jobs, the server will accept concurrently
#
# JOBS=""

JOBS=""

#
# Enable Zeroconf support?
# If enabled, distccd will register via mDNS/DNS-SD.
# It can then automatically be found by zeroconf enabled distcc clients
# without the need of a manually configured host list.
#
# ZEROCONF="false"

ZEROCONF="false"
