version: '3'
services:{% for host_arch in host_archs %}
  host-{{ host_arch }}:
    image: elijahru/distcc-cross-compiler-host-{{ distro_slug }}:{{ tag }}-{{ host_arch }}
    ports:
      {% for compiler_arch in host_arch|compiler_archs %}
      # {{ compiler_arch }}
      - {{ compiler_arch|compiler_port }}:{{ compiler_arch|compiler_port }}{% endfor %}
  {% endfor %}

  {% for compiler_arch in compiler_archs %}
  client-{{ compiler_arch }}:
    image: elijahru/distcc-cross-compiler-client-{{ distro_slug }}:{{ tag }}-{{ compiler_arch }}
    command: /bin/sh
  {% endfor %}
