_anchors:
  checkout_repo: &checkout_repo
    name: Checkout repo
    uses: actions/checkout@v2
    with:
      fetch-depth: 1
      submodules: recursive

  install_apt_requirements: &install_apt_requirements
    name: Install emulation dependencies
    run: |
      sudo apt-get update -q -y
      sudo apt-get -qq install -y python3-setuptools

  configure_qemu: &configure_qemu
    name: Configure QEMU
    run: |
      sudo apt-get update -q -y
      sudo apt-get -qq install -y qemu qemu-user-static
      docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

  install_pip_requirements: &install_pip_requirements
    name: Install pip requirements
    run: |
      pip3 install -r requirements.txt

  dockerhub_login: &dockerhub_login
    name: Login to Docker Hub
    run: |
      echo {% raw %}${{ secrets.DOCKERHUB_TOKEN }}{% endraw %} | docker login \
        -u elijahru --password-stdin

  enable_docker_experimental_features: &enable_docker_experimental_features
    name: Enable Docker experimental features
    run: |
      echo '{"experimental": true}' | sudo tee /etc/docker/daemon.json
      sudo service docker restart
      docker version -f '{{ '{{.Server.Experimental}}' }}'

name: {{ distro }}

on:
  push:
    branches: [ '*' ]
    tags: [ '*' ]

jobs:
  {% for host_arch in host_archs %}
  build-host-{{ host_arch }}:
    name: |
      host: {{ host_arch }}
    runs-on: ubuntu-latest

    steps:
      - *checkout_repo
      - *configure_qemu
      - *install_apt_requirements
      - *install_pip_requirements
      - *enable_docker_experimental_features
      - *dockerhub_login
      - name: Build host image
        run: |
          ./builder.py build-host \
            --distro {{ distro }} \
            --host-arch {{ host_arch }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %}) \
            --push
  {% endfor %}

  {% for compiler_arch in compiler_archs %}
  build-client-{{ compiler_arch }}:
    name: |
      client: {{ compiler_arch }}

    runs-on: ubuntu-latest
    needs:
      {% for host_arch in host_archs %}
      - build-host-{{ host_arch }}
      {% endfor %}

    steps:
      - *checkout_repo
      - *configure_qemu
      - *install_apt_requirements
      - *install_pip_requirements
      - *enable_docker_experimental_features
      - *dockerhub_login
      - name: Build client image
        run: |
          ./builder.py build-client \
            --distro {{ distro }} \
            --client-arch {{ compiler_arch }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %}) \
            --push
  {% endfor %}

  push_manifests:
    name: Push manifests
    if: {% raw %}${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/') }}{% endraw %}

    runs-on: ubuntu-latest
    needs:
      {% for compiler_arch in compiler_archs %}
      - build-client-{{ compiler_arch }}
      {% endfor %}

    steps:
      - *checkout_repo
      - *install_apt_requirements
      - *install_pip_requirements
      - *enable_docker_experimental_features
      - *dockerhub_login
      - name: Push host manifest
        run: |
          ./builder.py push-host-manifest \
            --distro {{ distro }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %})

      - name: Push client manifest
        run: |
          ./builder.py push-client-manifest \
            --distro {{ distro }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %})

  tag_latest:
    name: Tag latest
    if: {% raw %}${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/') }}{% endraw %}

    runs-on: ubuntu-latest
    needs:
      - push_manifests

    steps:
      - *checkout_repo
      - *install_apt_requirements
      - *install_pip_requirements
      - *enable_docker_experimental_features
      - *dockerhub_login
      - name: Tag host latest
        run: |
          ./builder.py tag-host-latest \
            --distro {{ distro }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %})

      - name: Tag client latest
        run: |
          ./builder.py tag-client-latest \
            --distro {{ distro }} \
            --version $(basename {% raw %}${{ github.event.ref }}{% endraw %})
